@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

body {
  background-color: #add8e6;
  margin:0;
  padding:0;
}

.maincontainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 50px;
  font-family: 'Grand Hotel', cursive;
}

.portrait {
  margin:10px;
  top:10%;
}

.hair {
  background: black;
  position: absolute;
  transform: translateY(-5%);
  top: 25%;
  width: 200px;
  left: 43%;
  height: 350px;
  border-radius: 100px 100px 50px 50px;
}

.leftear {
  box-shadow: none;
  position: absolute;
  background: #ffdbac;
  width: 50px;
  height: 70px;
  border-radius: 50%;
  transform: translateX(-30%) translateY(100%) rotate(-30deg);
  top:10%;
}

.rightear {
  box-shadow: none;
  position: absolute;
  background: #ffdbac;
  width: 50px;
  height: 70px;
  border-radius: 50%;
  right: 0;
  transform: translateX(30%) translateY(100%) rotate(30deg);
  top:10%;
}

.facecontainer {
  width:200px;
  height:250px;
  background:antiquewhite;
  border-radius:50%;
  position: absolute;
  left:43%;
  top: 20%;
}

.face {
  position:absolute;
  width:200px;
  height:250px;
  background:antiquewhite;
  border-radius:50%;
}

.bang {
  position: absolute;
  background: black;
  width: 90px;
  height: 38px;
  left: 50%;
  top:10%;
  transform: translateX(-50%) translateY(-30%);
  border-radius: 20px;
}

.cap {
  background-color: #00003f;
  position: absolute;
  width: 210px;
  height: 105px;
  border-top-left-radius: 115px;
  border-top-right-radius: 115px;
  border: 10px transparant;
  border-bottom: 0;
  right:0%;
}

.brim {
  width:200px;
  height:105px;
  background-color: #00003f;
  position:absolute;
  border-radius: 65% 10% 65% 40%;
  right:30%;
  top:5%;
}

.nose {
  position: absolute;
  font-size: 50px;
  color: #654321;
  transform: translate(-60%, 0%) rotate(-10deg);
  top: 55%;
  left: 50%;
}

.lefteye {
  background: white;
  width: 40px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 45%;
  top: 55%;
  transform: translateX(-130%) translateY(-70%) rotate(10deg);
}

.righteye {
  background: white;
  width: 40px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 55%;
  top: 55%;
  transform: translateX(30%) translateY(-70%) rotate(-10deg);
}

.leftpupil {
  position: absolute;
  left: 22%;
  top: 48%;
  background: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.rightpupil {
  position: absolute;
  left: 65%;
  top: 48%;
  background: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.mouth {
  position: absolute;
  top: 65%;
  left: 51%;
  font-size: 60px;
  color: #654321;
  transform: translate(-50%, 15%) rotate(90deg);
}
